:root {
  /* (Full Slider Bar) */
  --soft-cyan: hsl(174, 77%, 80%);
  /* (Slider Backround); */
  --strong-cyan: hsl(174, 86%, 45%);
  /* (Discount Background); */
  --light-grayish-red: hsl(14, 92%, 95%);
  /* (Discount Text); */
  --light-red: hsl(15, 100%, 70%);
  /* (CTA Text); */
  --pale-blue: hsl(226, 100%, 87%);

  /* (Pricing Component Background); */
  --white: hsl (0, 0%, 100%);
  /* (Main Background); */
  --very-pale-blue: hsl(230, 100%, 99%);
  /* (Empty Slider Bar); */
  --light-grayish-blue: hsl(224, 65%, 95%);
  /* (Toggle Background); */
  --light-grayish-blue: hsl(223, 50%, 87%);
  /* (Text); */
  --grayish-blue: hsl(225, 20%, 60%);
  /* (Text & CTA Background); */
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  font-size: 15px;
  background-color: var(--very-pale-blue);
}

header {
  background-image: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;

  height: 40vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 0 3rem;
  display: grid;
  grid-template-areas: "views" "slider" "price" "billing" "list" "btn";
}

section {
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
  color: var(--grayish-blue);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  grid-area: list;
}

li {
  text-align: center;
}

button {
  background-color: var(--dark-desaturated-blue);
  color: var(--light-grayish-blue);
  border: none;
  border-radius: 30px;
  height: 3rem;
  grid-area: btn;
}
.hidden {
  display: none;
}

/* Sections */
.pageviews__section {
  display: flex;
  align-content: space-around;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--grayish-blue);
  grid-area: views;
}

.pricing__section {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: price;
}

.billing__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: billing;
}

.discount {
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
}

.discount--subtract {
  display: block;
}

/* Toggles */
.slidecontainer {
  grid-area: slider;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 40px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: grabbing;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--strong-cyan); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 40px;
  background: var(--strong-cyan); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: none;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 19px 42px 0px var(--strong-cyan);
  -webkit-box-shadow: 0 19px 42px 0px var(--strong-cyan);
  -moz-box-shadow: 0 19px 42px 0px var(--strong-cyan);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch */
.switch {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  border-radius: 5px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}

input:checked + .switch {
  background-color: var(--strong-cyan);
}

input:focus + .switch {
  box-shadow: 0 0 1px var(--strong-cyan);
}

input:checked + .switch:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded switchs */
.switch.round {
  border-radius: 34px;
}

.discount--txt {
  display: none;
}

/* .cta {
  display: flex;
  flex-direction: column;
} */

@media screen and (min-width: 800px) {
  .card {
    grid-template-areas: "views price" "slider slider" "billing billing" "list btn";
    grid-template-columns: 50% 50%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  ul {
    padding-left: none;
  }

  li {
    text-align: left;
  }

  .discount--subtract {
    display: none;
  }

  .discount--txt {
    display: block;
  }

  /* .cta {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } */
}
